@font-face {
    font-family: 'Chemifonti#1';
    src: url("JacquesFrancoisShadow-Regular.ttf");
}

@font-face {
    font-family: 'Chemifonti#2';
    src: url("Play-Regular.ttf");
}

@font-face {
    font-family: 'Chemifonti#3';
    src: url("OriginalSurfer-Regular.ttf");
}

h3 {
    font-family: "Chemifonti#1";
}

#textfirst {
    font-family: "chemifonti#3";
}

#textsecond {
    font-family: "chemifonti#2";
    text-align: justify;
}
